<div class="py-4 bg-dark text-white">
  <div class="container">
    <h3>B3</h3>
  </div>
</div>
<div class="container py-4">
  <div class="row">
    <div class="col-md-6">
      <h4>Cálculo de CDB</h4>
      <div class="col-md-4">
        <div class="form-group mb-3">
          <label>Valor monetário</label>
          <input
            type="text"
            class="form-control"
            placeholder="Informe um valor"
            [(ngModel)]="calculo.ValorMonetario"
          />
        </div>
        <div class="form-group mb-3">
          <label>Prazo (em meses)</label>
          <input
            type="number"
            class="form-control"
            placeholder="Prazo (meses)"
            [(ngModel)]="calculo.MesesResgate"
          />
        </div>
        <div class="form-group">
          <button (click)="chamarAPI()" class="btn btn-primary">
            Calcular
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4 mt-md-0">
      <div *ngIf="this.erros.length > 0" class="alert alert-danger">
        {{ this.erros }}
      </div>
      <div *ngIf="this.valor_liquido.length > 0">
        <h3>Valor Bruto: {{ this.valor_bruto }}</h3>
        <h3>Valor líquido: {{ this.valor_liquido }}</h3>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
